.contact-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li a {
  font-size: large;
  color: white;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .contact-container {
    width: 80vw;
    margin: auto;
  }
}
