<nav>
    <div (mouseenter)="toggle()" (click)="toggle()">
        <fa-icon [icon]="menuIcon" [size]="'2x'"></fa-icon>
    </div>
    <div [ngClass]="{show: show, menu: true }" (mouseleave)="toggle()">
        <ul class="menu-content">
            <li *ngFor="let menuItem of menuItems">
                <span>
                    <fa-icon [icon]="menuItem.icon"></fa-icon>
                    <a [routerLink]="[menuItem.routeLink]" (click)="toggle()"
                        >{{menuItem.name}}</a
                    >
                </span>
            </li>
        </ul>
    </div>
</nav>
<div class="polygon"></div>
<div class="header">
    <h1>Oscar Camacho</h1>
    <h5>Fullstack Developer</h5>
</div>
