<ng-container *ngIf="!(adminLoggedIn$ | async)">
  <article>
    <form>
      <div>
        <label for="key">Key</label>
        <input id="key" name="key" placeholder="Key" type="password" />
      </div>
      <div>
        <label for="pass">Secondary Key</label>
        <input
          id="pass"
          name="pass"
          placeholder="Secondary Key"
          type="password"
        />
      </div>
      <button type="submit">Login</button>
    </form>
  </article>
</ng-container>
<ng-container *ngIf="adminLoggedIn$ | async">
  <article>
    <h1>Basic Information</h1>
    <form [formGroup]="basicInfoForm">
      <table>
        <caption>
          Basic Information currently stored in database
        </caption>
        <thead>
          <tr>
            <th>ID</th>
            <th>DisplayName</th>
            <th>FullName</th>
            <th>DisplayTitle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ (basicInfo$ | async)?.id }}</td>
            <td><input id="displayName" formControlName="displayName" /></td>
            <td><input id="fullName" formControlName="fullName" /></td>
            <td><input id="displayTitle" formControlName="displayTitle" /></td>
          </tr>
        </tbody>
      </table>
      <button>Save</button>
    </form>
  </article>
  <article [formGroup]="experiencesFormGroup">
    <h1>Professional Experiences</h1>
    <table>
      <caption>
        Table containing the information of a proffesional experience.
      </caption>
      <thead>
        <tr>
          <th>ID</th>
          <th>RoleTitle</th>
          <th>Company</th>
          <th>Achievements</th>
          <th>StartDate</th>
          <th>EndDate</th>
        </tr>
      </thead>
      <tbody
        *ngFor="let experience of experiences$ | async; let i = index"
        formArrayName="experiences"
      >
        <tr [formGroup]="getExperienceFormGroup(i)">
          <td>{{ experience.id }}</td>
          <td><input id="roleTitle" formControlName="roleTitle" /></td>
          <td><input id="company" formControlName="company" /></td>
          <td>
            <div formArrayName="achievements">
              <div
                *ngFor="
                  let achievement of experience.achievements;
                  let i = index
                "
              >
                <input id="achievement{{ i }}" formControlName="{{ i }}" />
              </div>
            </div>
          </td>
          <td><input id="startDate" formControlName="startDate" /></td>
          <td><input id="endDate" formControlName="endDate" /></td>
        </tr>
      </tbody>
    </table>
    <button>Save</button>
  </article>
  <article [formGroup]="skillsFormGroup">
    <h1>Skills</h1>
    <table>
      <caption>
        Skills in storage
      </caption>
      <thead>
        <tr>
          <th>Display Name</th>
          <th>Years Of Experience</th>
          <th>Proficiency</th>
          <th>Skill Category</th>
        </tr>
      </thead>
      <tbody
        *ngFor="let skill of skills$ | async; let i = index"
        formArrayName="skills"
      >
        <tr [formGroup]="getSkillFormGroup(i)">
          <td>
            <input id="displayName" formControlName="displayName" />
          </td>
          <td>
            <input id="yearsOfExperience" formControlName="yearsOfExperience" />
          </td>
          <td>
            <input id="proficiency" formControlName="proficiency" />
          </td>
          <td>
            <input id="category" formControlName="category" />
          </td>
        </tr>
      </tbody>
    </table>
  </article>
</ng-container>
