.container {
	height: 100vh;
	width: 100vw;
	display: flex;
	background-color: var(--bg-primary);
}

h1 {
	font-weight: 600;
	color: var(--text-primary);
	text-shadow: var(--text-secondary);
	position: absolute;
	top: 0vh;
	left: 40%;
}

.polygon {
	background-color: mediumaquamarine;
	width: 100vw;
	height: 20vh;
	clip-path: polygon(0% 0%, 0px 55%, 47% 100%, 100% 55%, 100% 0%);
}