canvas {
  top: 0;
  left: 0;
  z-index: 0;
  position: absolute;
  background-color: black;
}

main {
  z-index: 1;
  color: azure;
  position: absolute;
  top: 1rem;
  display: grid;
  width: 99vw;
  grid-template-areas:  "nav"
                        "body";
}

app-nav {
  grid-area: nav;
}

app-about, app-skills,
app-experience, app-contact {
  grid-area: body;
  margin: auto;
  width: 90vw;
  position: relative;
  top: 25vh;
}

app-skills {
  top: 2vh;
}
