.skillDetail {
	position: absolute;
	width: 100%;
}

.skillDetail p {
	position: relative;
	top: 40%;
	justify-self: center;
}

.header {
	border-style: hidden hidden outset hidden;
	border-color: var(--nav-primary);
	border-width: 0.15rem;
	margin: 0;
	height: 5rem;
	padding-left: 1rem;
}

.header * {
	margin: 0;
	margin-bottom: 0.3rem;
}