nav {
  width: 80vw;
  margin: auto;
  padding: 0;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: bold;
}

li {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: large;
}

li:hover {
  background-color: rgba(255, 255, 255, 0.158);
  text-decoration: underline;
}

@media (max-width: 800px) {
  nav {
    width: 100%;
    margin: auto;
  }
  li {
    font-size: medium;
    padding: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  ul {
    margin: auto;
    padding: 1rem;
  }
}
