.experiences-container {
  width: 90%;
  height: 70vh;
  margin: auto;
}

.year-container {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.year-container :first-child {
  align-content: flex-start;
}

.experiences-container:last-child {
  align-content: flex-end;
}

input[type=range] {
  padding: 1rem;
  width: 98%;
  margin: auto;
}

.experience-container {
  display: grid;
  grid-template-areas: "a a a" "b c d";
  width: 90%;
  height: 55vh;
  margin: auto;
  overflow-y: auto;
}

.experience-container #identifier {
  grid-area: a;
}

.experience-container #roles {
  grid-area: b;
}

.experience-container #techs {
  grid-area: c;
}

.experience-container #achievements {
  grid-area: d;
}
