<div *ngIf="display$ | async" class="card experiences-container">
  <div class="year-container">
    <span *ngFor="let experienceName of experiences$ | async">{{experienceName}}</span>
  </div>
  <input id="time" type="range" [value]="time$ | async" [max]="experienceCount$ | async"
    (change)="handleTimeChange($event)">
  <br>
  <div *ngIf="experience$ | async as xp" class="card experience-container">
    <section id="identifier">
      <h1>{{xp.roleName}}</h1>
      <h3>
        <a [href]="xp.orgUrl">{{xp.organization}}</a>
        &nbsp;
        {{xp.startDate | date:"MMM yyyy"}}
        &nbsp;/&nbsp;
        {{xp.endDate?(xp.endDate | date:"MMM yyyy"):"Ongoing"}}
      </h3>
      <h5 *ngIf="xp.description">{{xp.description}}</h5>
    </section>

    <section id="roles">
      <h4>Roles</h4>
      <ul>
        <li *ngFor="let role of xp.roles">{{role}}</li>
        </ul>
        </section>

        <section id="techs">
          <h4>Technologies used</h4>
          <ul>
            <li *ngFor="let tech of xp.technologyStack">{{tech}}</li>
          </ul>
        </section>

        <section id="achievements" *ngIf="xp.achievements">
          <h4>Achievements at this position</h4>
          <ul>
            <li *ngFor="let achievement of xp.achievements">{{achievement}}</li>
          </ul>
    </section>

    </div>
</div>
