<div *ngIf="display$ | async">
  <p>experience works!</p>
  <ul>
    <li>
      <span>
        <strong>Enlace Karpay</strong>
        <p>Praxis | 2017 - 2018</p>
        <p>I have notable contributions developing new features for a monolithic application</p>
        <p>
          I also created a development environment installer which set up a computer for using
          multiple versions of the monolithic application Enlace Kaypay. It was developed using
          Java 8 and JavaFX visual framework
        </p>
      </span>
    </li>
    <li>
      <span>
        <strong>AT&T Panda</strong>
        <p>Xideral | 2018 - 2019</p>
        <p>
          My contribution here was most notable in the maintenance of the monolithic application
          developed using Spring MVC and Hibernate for the backend part of the application.
        </p>
        <p>Also, I contribuited to the first phase of the migration to a microservices architecture</p>
      </span>
    </li>
    <li>
      <span>
        <strong>Non-disclosable client</strong>
        <p>Allutiq LLC. | 2017 - 2018</p>
        <p>My main contribution was providing maintenance to a microservices suite</p>
      </span>
    </li>
    <li>
      <span>
        <strong>Citibanamex - CRP</strong>
        <p>Wipro Technologies | 2017 - 2018</p>
        <p>
          My contributions here were mostly related to the maintenance of a multi architecture application
        </p>
        <p>
          I also helped in the creation of a greater quality guidelines for developing code
        </p>
      </span>
    </li>
    <li>
      <span>
        <strong>Non-disclosable client</strong>
        <p>EPAM Systems | 2017 - 2018</p>
        <p>
          My contributions here are related to the maintenance of several applciations
          in service of one of the largest web search engines
        </p>
      </span>
    </li>
  </ul>
</div>
